#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Spacer {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Rich_text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_214 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_110 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Check-box {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_218 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_112 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Check-box_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_219 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_113 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Check-box_2 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_220 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Check-box_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-38e74314-24eb-48d1-af2a-237f6813a0de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}