#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Ellipse_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Ellipse_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_75 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_76 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}