#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-5315c18d-3e54-4148-bbe0-1a95934b8730 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}