#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Input-text_3 INPUT {
  font-family: Arial;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Input-text_4 INPUT {
  font-family: Arial;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}