#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Label_283 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d1048a6e-780c-4b06-bce4-7b56074ae2d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}